<p id="error"></p>
<div class="app-wrapper">
    <img class="face" id="mosca" src="/images/mosca.png" style="display: none" alt="Une photo pas terrible de Mosca">
    <img class="face" id="matthieu" src="/images/matthieu.png" style="display: none" alt="Une photo pas terrible de matthieu">
    <img class="face" id="mehdi" src="/images/mehdi.png" style="display: none" alt="Une photo pas terrible de mehdi">
    <img class="face" id="leroy" src="/images/leroy.png" style="display: none" alt="Une photo pas terrible de Mosca">
    <img class="face" id="pavlo" src="/images/pavlo.png" style="display: none" alt="Une photo pas terrible de pavlo">
    <img class="face" id="greg" src="/images/greg.png" style="display: none" alt="Une photo pas terrible de greg">
    <img class="face" id="legrand" src="/images/legrand.png" style="display: none" alt="Une photo pas terrible de legrand">
    <img src="/images/jail.png" alt="prison bars" id="jail" >
</div>